.container {
  width: 100vw;
  height: 100vh;
  background: #fff8e7;
}
.content {
  position: relative;
  padding: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 5px;
}
.cont1 {
  border: 1px solid #ad000e;
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cont1 h3 {
  color: #ad000e;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.context {
  margin: 20px auto;
  width: 90%;
  height: 80%;
  display: flex;
  gap: 5px;
}
.contcont1 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont1 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont1 img {
  padding-left: 40px;
}
.contcont2 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont2 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont2 img {
  padding-left: 40px;
}
.contcont3 {
  flex: 1;
  background: url("./assets/Rectangle 73.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contcont3 h4 {
  width: 70%;
  margin: 10px auto;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
  padding-bottom: 10px;
}
.contcont3 img {
  padding-left: 40px;
}

.points {
  width: 80%;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 22px;
}
.points li{
    padding-bottom: 15px;
}
@media screen and  (max-width:299px){
  .container{
    height: 230vh;
  }
  .context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    
    height: 100vh;
    
  }
  .points li{
    width: 55vw;
    font-size: 12px;
  }
  .contcont1 h4,
  .contcont2 h4,
  .contcont3 h4{
    width: 80%;
    font-size: 20px;
    margin-left: 10px;
  }
  .contcont1 img,
  .contcont2 img,
  .contcont3 img{
    width: 70%;
    margin-left: -15px;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px){
  .container{
    height: 200vh;
    width: 100vw;
  }
  .context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    margin-left: 80px;
    height: 100vh;
  }
  .points li{
    width: 55vw;
    font-size: 12px;
  }
  .contcont1 h4,
  .contcont2 h4,
  .contcont3 h4{
    width: 80%;
    font-size: 20px;
    margin-left: 10px;
  }
  .contcont1 img,
  .contcont2 img,
  .contcont3 img{
    width: 70%;
    margin-left: -15px;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px){
  .container{
    height: 200vh;
  }
  .context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    margin-left: 80px;
    height: 100vh;
  }
  .points li{
    width: 55vw;
    font-size: 12px;
  }
  .contcont1 h4,
  .contcont2 h4,
  .contcont3 h4{
    width: 80%;
    font-size: 20px;
    margin-left: 10px;
  }
  .contcont1 img,
  .contcont2 img,
  .contcont3 img{
    width: 70%;
    margin-left: -15px;
  }
}

@media screen and (min-width: 400px) and (max-width: 599px){
  .container{
    height: 250vh;
  }
  .context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    margin-left: 150px;
    height: 100vh;
  }
  .points li{
    width: 30vw;
    font-size: 12px;
  }
  .contcont1 h4,
  .contcont2 h4,
  .contcont3 h4{
    width: 50%;
    font-size: 20px;
    margin-left: 10px;
  }
  .contcont1 img,
  .contcont2 img,
  .contcont3 img{
    width: 45%;
    margin-left: -15px;
  }
  
}

@media screen and (min-width: 600px) and (max-width: 799px){
  .points {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-family: Century Gothic;
    font-size: 12px;
  }
  .points li{
    width: 120%;
    padding-bottom: 4px;
    font-size: 10px;
  }
 .context {
  margin: 30px 40px;
  width: 100%;
  height: 100%;
  }

  .contcont1 {
    width: 35%;
    height: 70%;
    margin-left: -60px;
  }

  .contcont1 h4 {
    width: 70%;
    font-size: 20px;
  }

  .contcont1 img {
    width: 180px;
    padding-left: 18px;
    height: 18px;
  }

  .contcont2 {
    margin-left: 5px;
    width: 35%;
    height: 70%;
  }

  .contcont2 h4 {
    width: 90%;
    font-size: 20px;
  }

  .contcont2 img {
    width: 180px;
    padding-left: 10px;
    height: 4px;
  }

  .contcont3 {
    width: 35%;
    height: 70%;
    margin-left: 5px;
  }

  .contcont3 h4 {
    width: 80%;
    font-size: 20px;
  }

  .contcont3 img {
    width: 180px;
    padding-left: 5px;
    height: 16px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1400px){
  .points {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-family: Century Gothic;
    font-size: 18px;
  }
  .points li{
    padding-bottom: 15px;
}
.context {
  margin: 20px 90px;
}
}

@media screen and (min-width: 800px) and (max-width: 1000px){
  .points {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-family: Century Gothic;
    font-size: 12px;
  }
  .points li{
    padding-bottom: 8px;
  }
 .context {
  margin: 30px 90px;
  width: 90%;
  height: 100%;
  }

  .contcont1 {
    width: 35%;
    height: 70%;
    margin-left: -60px;
  }

  .contcont1 h4 {
    width: 70%;
    font-size: 20px;
  }

  .contcont1 img {
    padding-left: 18px;
    height: 18px;
  }

  .contcont2 {
    margin-left: 5px;
    width: 35%;
    height: 70%;
  }

  .contcont2 h4 {
    width: 70%;
    font-size: 20px;
  }

  .contcont2 img {
    padding-left: 10px;
    height: 4px;
  }

  .contcont3 {
    width: 35%;
    height: 70%;
    margin-left: 5px;
  }

  .contcont3 h4 {
    width: 70%;
    font-size: 20px;
  }

  .contcont3 img {
    padding-left: 5px;
    height: 16px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .points {
    width: 50%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
  }
  .points li {
    padding-bottom: 20px;
    margin-left: -50px;
  }

  .context {
    margin: 30px 60px;
    width: 90%;
    height: 100%;
  }

  .contcont1 {
    width: 30%;
    height: 70%;
    flex: 1;
  }

  .contcont1 h4 {
    width: 70%;
    font-size: 22px;
  }

  .contcont1 img {
    padding-left: 20px;
    height: 20px;
  }

  .contcont2 {
    flex: 1;
    width: 30%;
    height: 70%;
  }

  .contcont2 h4 {
    width: 70%;
    font-size: 22px;
  }

  .contcont2 img {
    padding-left: 10px;
    height: 5px;
  }

  .contcont3 {
    width: 30%;
    height: 70%;
    flex: 1;
  }

  .contcont3 h4 {
    width: 70%;
    font-size: 22px;
  }

  .contcont3 img {
    padding-left: 10px;
    height: 18px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
.points {
  width: 55%;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 15px;
}
.points li {
  padding-bottom: 20px;
  margin-left: -60px;
}

.context {
  margin: 30px 95px;
  width: 90%;
  height: 100%;
}

.contcont1 {
  width: 30%;
  height: 70%;
  flex: 1;
  margin-left: 30px;
}

.contcont1 h4 {
  width: 70%;
  font-size: 22px;
}

.contcont1 img {
  padding-left: 20px;
  height: 20px;
}

.contcont2 {
  flex: 1;
  width: 30%;
  height: 70%;
}

.contcont2 h4 {
  width: 70%;
  font-size: 22px;
}

.contcont2 img {
  padding-left: 10px;
  height: 5px;
}

.contcont3 {
  width: 30%;
  height: 70%;
  flex: 1;
}

.contcont3 h4 {
  width: 70%;
  font-size: 22px;
}

.contcont3 img {
  padding-left: 10px;
  height: 18px;
}
}
